<div class="container">
    <div class="form">
        <label>Restaurante: </label>
        <input type="text"placeholder="Restaurante...">
    
        <label>E-Mail: </label>
        <input type="text"placeholder="E-Mail...">
        
        <label>Comments: </label>
        <input type="text"placeholder="Comments...">

        <label>Rating: </label>
        <input type="text"placeholder="Rating...">

        <label>Date: </label>
        <input type="date">
    
        <button>Enviar</button>
        <button routerLink="/list-resturants">Volver</button>
    </div>
</div>

