<div class="container">
    <div class="form">
        <label>Nombre: </label>
        <input type="text"placeholder="Restaurante...">
    
        <label>Descripción: </label>
        <input type="text"placeholder="Descripción...">
        
        <label>Logo: </label>
        <button class="logo">Subir Logo</button>

        <label>Rating: </label>
        <input type="text"placeholder="Rating...">

        <label>Tipo de Comida: </label>
        <input type="text"placeholder="Comida...">
    
        <button>Enviar</button>
        <button routerLink="/list-resturants">Volver</button>
    </div>
</div>
