/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #D38312; 
    background: -webkit-linear-gradient(to right, #A83279, #D38312); 
    background: linear-gradient(to right, #A83279, #D38312); 

}


